<div class="container main" *ngIf="boat">
  <div class="boat-info row">
    <div class="col-md-4">
      <div class="image-wraper">
        <div class="image" *ngFor="let photo of boat.photos">
          <img src={{photo}} width=200>
        </div>
      </div>
      <div class="info">
        <h3>Dimensiones: {{boat.dimensions}}</h3>
        <h3>Capacidad: {{boat.capacity}}</h3>
        <h3>Tripulación: {{boat.crew}}</h3>
        <h3>Precio/dia: {{boat.pricePerDay}}</h3>
      </div>
    </div>
    <div class="col-md-7">
      <h1>{{boat.name}}</h1>
      <p>{{boat.description}}</p>
    </div>
  </div>
  <app-listComments></app-listComments>
  <div class="user-identified" *ngIf="sessionService.user">
    <app-newBooking [boat]="boat"></app-newBooking>
   <!--  <app-listBookings [boat]="boat"></app-listBookings> -->
    <button [routerLink]="['/']">Todos los barcos</button>
    <button [routerLink]="['/profile']">Mi página</button>
  </div>
  <div class="user-unknown" *ngIf="!sessionService.user">
      <button [routerLink]="['/']">Volver</button>
      <button [routerLink]="['/signup']">Reservar</button>
  </div>
</div>