
.main{
  background: #b5bdc8;
  background: -moz-linear-gradient(-45deg,  #b5bdc8 0%, #828c95 36%, #28343b 100%);
  background: -webkit-linear-gradient(-45deg,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
  background: linear-gradient(135deg,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
  padding: 20px;


}
.carousel-item{

  img{
    object-fit: contain;
    height: 400px;
  }
}

.column{
  display: flex;
  flex-direction: column;
}

.info{
  background: white;
  height: 450px;
  #boat-info{
    padding-top:15px;
    display: flex;
    justify-content: space-around;
    .info-item {
      text-align: center;
      p{
        font-size: 0.8em
      }
    }
  }
}
.reservation-date{
  margin-top: 20px;
  h2{
    text-align: center;
  }
}

.buttons{
  display: flex;
  justify-content: flex-end;
  width: 60%;

  button{
    margin-right: 20px;
  }
}
#description{
  padding:30px 50px;
  text-align: justify;
}