<div class="comment-textbox">
  <p *ngIf="!showCommentForm">Si has disfrutado de tu estancia en este barco, o has encontrado algo que no te gustara, deja tu comentario para ayudar a otros usuarios a decidir.</p>
  <button *ngIf="!showCommentForm" class="btn btn-outline-success" (click)="showCommentForm=true">Comentar</button>
  <div class="comment-form" *ngIf="showCommentForm">
    
    <form ngNativeValidate (ngSubmit)="addComment(newComment)">
      
        <fieldset class="rating" >
            <input [(ngModel)]="newComment.rate" type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5"></label>
            <input [(ngModel)]="newComment.rate" type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half"></label>
            <input [(ngModel)]="newComment.rate" type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4"></label>
            <input [(ngModel)]="newComment.rate" type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half"></label>
            <input [(ngModel)]="newComment.rate" type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3"></label>
            <input [(ngModel)]="newComment.rate" type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half"></label>
            <input [(ngModel)]="newComment.rate" type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2"></label>
            <input [(ngModel)]="newComment.rate" type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half"></label>
            <input [(ngModel)]="newComment.rate" type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1"></label>
            <input [(ngModel)]="newComment.rate" type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf"></label>
        </fieldset>
      
      <div class="form-field">
        <textarea required  placeholder="Deja tu mensaje" [(ngModel)]="newComment.content" name="content"></textarea>
      </div>
      <button id="file-button" class="btn btn-success">Añadir fotos<input id="file" type="file" multiple name="file[]" ng2FileSelect [uploader]="uploader"></button>
      <div class="buttons">
        <button class="btn btn-outline-success" type="submit">Registrar</button>
        <button class="btn btn-outline-danger" (click)="showCommentForm=false">Cancelar</button>
      </div>
    </form>
  </div>
</div>

