
<div class="main container">
  <h2>Barcos</h2>
  <div class="boats" *ngIf="boatList">
      <div class="boat" *ngFor="let boat of boatList">
        <h4>{{boat.name}}</h4> 
        <h5>de {{boat.owner.name}} {{boat.owner.surname}}</h5>
        <div class="img-wrap">
          <img class="rounded mx-auto d-block" src={{boat.photos[0]}}>
        </div>
        <h5>{{boat.pricePerDay}} €/dia</h5>
        <div class="buttons">
          <button class="btn btn-outline-info" [routerLink]="['/boats', boat._id]">Detalle</button>
          <button class="btn btn-outline-danger" (click)="delete(boat._id)" *ngIf="boat.owner._id===userId">Eliminar</button>
        </div>
      </div>
    </div>

</div>