.main{
  display: flex;
  flex-direction: column;
  align-items: center; 
  background: #b5bdc8;
  background: -moz-linear-gradient(-45deg,  #b5bdc8 0%, #828c95 36%, #28343b 100%);
  background: -webkit-linear-gradient(-45deg,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
  background: linear-gradient(135deg,  #b5bdc8 0%,#828c95 36%,#28343b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
  padding: 20px;

  .boats{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .boat{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;
      margin: 20px 10px;
      padding: 20px;

      button{
        margin: 5px;
      }
      
      .img-wrap{
        padding: 10px;
        img{
          width: 250px;
          height: 200px;
          object-fit: cover;
        }
      } 
    }
  }
}

.carousel-item{
  width:100%;
  background-color: white;
  padding: 0 30px;

  .boat{

    .buttons{
      display: flex;

    }
  }
}