<mjml>

  <mj-head>

    <mj-attributes>
      <mj-text align="center" color="#555" />
    </mj-attributes>

  </mj-head>

  <mj-body background-color="#eee">

    <mj-include path="./header.mjml" />

    <mj-section background-color="#fff">

      <mj-column>
        <mj-text align="center">
          <h2>Hola {userName} {userSurname}</h2>
          <p>El propietario del barco <strong>{boatName}</strong> ha confirmado tu reserva del día <strong>{startDate}</strong> al día <strong>{endDate}</strong></p>
          <p>Puedes consultar los datos de tu reserva y el parte meteorológico para los próximos días en  tus reservas.<!-- <a href="{BASEURL}/api/booking/confirm/{bookingId}">siquiente enlace</a> para confirmarla --></p>
        </mj-text>
      </mj-column>

      <mj-column>
        <mj-image width="200" src="https://res.cloudinary.com/abel-alonso/image/upload/v1533837427/airByP.png"></mj-image>
      </mj-column>

    </mj-section>

    <mj-include path="./footer.mjml" />

  </mj-body>

</mjml>