<div class="container column">
  <button class="btn btn-info" id="booking" (click)="showBookingForm()" *ngIf="bookingService.showBookingButton">Reservar</button>

  <img id="calendar-logo" *ngIf="bookingService.showBookingButton" src="https://res.cloudinary.com/abel-alonso/image/upload/v1533837427/airByP.png">
  
  <div class="booking-form" *ngIf="bookingService.showBookingForm">
    <div class="calendar" *ngIf="calendarOptions">
      <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (dayClick)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)" (initialized)="initialCalendar()"></ng-fullcalendar>
    </div>
    <div class="buttons">
      <button class="btn btn-outline-success" (click)="addBooking()" type="submit" [disabled]="bookingService.disableConfirmationButton">Confirmar</button>
      <button class="btn btn-outline-danger"(click)="cancel()">Cancelar</button>
    </div>
  </div>
</div>


