<div class="container" *ngIf="booking && userId">
  <h1>Reserva del {{booking.startDate | date:short}} al {{booking.endDate | date:short}}</h1>

  <button  *ngIf="!booking.isActive" (click)="showCommentForm()">Comentar</button>
  <app-newComment *ngIf="commentService.showCommentForm"></app-newComment>

  <button  *ngIf="booking.isActive && !showLinks" (click)="getWeather(); showLinks=true;">Previsión meteorológica</button>

  <div class="weather-info" *ngIf="showLinks">
    <a href={{tomorrowWeather}} target="weather-info"><button (click)="showInfo=true">Próximos días</button></a>
    <a href={{soonWeather}} target="weather-info"><button (click)="showInfo=true">Corto Plazo</button></a>

    <iframe *ngIf="showInfo" name="weather-info" width=550 height=300></iframe>


    <button (click)="showLinks=false; showInfo=false">Cancelar</button>
  </div>
</div>
