<div class="container" *ngIf="booking && userId">

  <div class="row info-panel">
    <div class="profile-image col-md-3">
      <img src="{{sessionService.user.profileImage}}" alt="no hay imagen">
    </div>
    <div class="data col-md-9">
      <div class="text">
        <h1>{{sessionService.user.name}} {{sessionService.user.surname}} </h1>
        <h3>Email: {{sessionService.user.email}} </h3>
      </div>
      <div class="icon">
        <img *ngIf="sessionService.user.role=='Propietario'" src="https://res.cloudinary.com/abel-alonso/image/upload/v1533737915/airByP/captain.png"
          width=100>
        <img *ngIf="sessionService.user.role=='Usuario'" src="https://res.cloudinary.com/abel-alonso/image/upload/v1533737911/airByP/user.png"
          width=100>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="boat-info col-md-4">
      <h2>{{booking.boat.name}}</h2>
      <div id="carouselSingleBoat" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src={{booking.boat.photos[0]}} alt="First slide">
          </div>
          <div class="carousel-item" *ngFor="let photo of booking.boat.photos.slice(1)">
            <img class="d-block w-100" src={{photo}} alt="Second slide">
          </div>

          <a class="carousel-control-prev" href="#carouselSingleBoat" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselSingleBoat" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div id="boat-info">
        <div class="info-item">
          <h1>
            <i class="fas fa-euro-sign"></i>
          </h1>
          <p>
            {{booking.totalPrice}} €.
          </p>
        </div>
        <div class="info-item">
          <img src="https://res.cloudinary.com/abel-alonso/image/upload/v1533737915/airByP/captain.png" width=55>
          <p *ngIf="booking.boat.patron">
            Con patrón
            <br>{{booking.boat.crew}}
            <br>tripulantes.
          </p>
          <p *ngIf="!booking.boat.patron">
            Sin patrón.
          </p>
        </div>
        <div class="info-item">
          <h1>
            <i class="fas fa-users"></i>
          </h1>
          <p>
            {{booking.boat.capacity}}
            <br>personas
            <br>máximo.
          </p>
        </div>
      </div>
    </div>

    <div class="booking-info col-md-7">
      <h2>Reserva del {{booking.startDate | date:"dd/MM/yyyy"}} al {{booking.endDate | date:"dd/MM/yyyy"}}</h2>

      <div class="info-wrapper">
        <div class="container booking col-md-5">
          <div class="confirmed" *ngIf="booking.confirmed">
            <h1>
              <i class="ok fas fa-check"></i>
            </h1>
            <strong>Reserva Confirmada.</strong>
          </div>
          <div class="not-confirmed" *ngIf="!booking.confirmed">
            <h1>
              <i class="no fas fa-ban"></i>
            </h1>
            <strong>Reserva No Confirmada.</strong>
          </div>
          <div class="active" *ngIf="booking.isActive">
            <h1>
              <i class="fas blue fa-question"></i> </h1>
              <strong>Reserva Activa.</strong>
           
          </div>
          <div class="not-active" *ngIf="!booking.isActive">
            <h1>
              <i class="blue fas fa-exclamation"></i>
            </h1>
            <strong>&nbsp;&nbsp; Reserva Finalizada.</strong>
          </div>
  
        </div>
        <div class="extra-info col-md-7">
          <div class="comment-meteo">
            <div class="weather-textbox" *ngIf="booking.isActive">
                <p>Desde aquí puedes consultar el parte meteorológico ofrecido por la AEMET para los próximos días. Esta información se actualiza cada 24 horas.</p>
              <button class="btn btn-outline-info" (click)="getWeather()">Previsión meteorológica</button>
            </div>
  

            <app-newComment *ngIf="!booking.isActive" [bookingId]="bookingId" [boatId]="thisBoat._id" (onUpdateComments)="update($event)"></app-newComment>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <div id="back">
  	<button class="btn btn-outline-info" [routerLink]="['/profile']">Mi página</button>
  </div>

</div>
<div class="weather-info" *ngIf="showLinks">
    <div class="buttons">
      <a href={{tomorrowWeather}} target="weather-info">
        <button class="btn btn-warning" (click)="showInfo=true">Próximos días</button>
      </a>
      <a href={{soonWeather}} target="weather-info">
        <button class="btn btn-warning" (click)="showInfo=true">Corto Plazo</button>
      </a>
      <button class="btn btn-danger" (click)="cancel(); showInfo=false">Cancelar</button>
    </div>
    <iframe name="weather-info" width=550 height=300></iframe>
  </div>